.formulario {
    background-color: rgb(18, 18, 64);
    color: whitesmoke;
    padding: 0 1.5em;
    max-width: 1170px;
    margin: 0px;
}
.forms {
    margin: 20px;
}
.preg {
    width: 100%;
    padding: .5em;
    margin-bottom: 12px;
    margin-top: 12px;
    border: none;
    text-align: center;
}


.formulario-contacto {
    text-align: center;
}