/*Galería utilizando Grids*/

.body__gdf {
    display: grid;
    grid-template-areas: 
    "foto1 foto1 foto2 foto2 foto2"
    "foto1 foto1 foto2 foto2 foto2"
    "foto3 foto3 foto2 foto2 foto2"
    "foto4 foto4 foto5 foto5 foto6"
    "foto7 foto7 foto8 foto9 foto9";
    gap: $max + 2;
    background-image: linear-gradient(to left, rgb(26, 26, 68), black);
    padding: $max;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9 {
    max-width: 100%;
    height: $mega * 10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}


.img1 {
    background-image: url(../img/1.jpg);
    grid-area: foto1
}

.img2 {
    background-image: url(../img/2.jpg);
    grid-area: foto2;
    align-self: start;
    height: 100%;
}

.img3 {
    background-image: url(../img/3.jpg);
    grid-area: foto3;
}

.img4 {
    background-image: url(../img/4.jpg);
    grid-area: foto4;
}

.img5 {
    background-image: url(../img/5.webp);
    grid-area: foto5;
}

.img6 {
    background-image: url(../img/6.webp);
    grid-area: foto6;
}

.img7 {
    background-image: url(../img/7.jpg);
    grid-area: foto7;
}

.img8 {
    background-image: url(../img/8.jpg);
    grid-area: foto8;
}

.img9 {
    background-image: url(../img/9.jpg);
    grid-area: foto9
}

@media (max-width: 768px) {
    .body__gdf {

    grid-template-areas: 
    "foto1 foto1 foto1"
    "foto2 foto2 foto2"
    "foto3 foto3 foto3"
    "foto4 foto4 foto4"
    "foto5 foto5 foto5"
    "foto6 foto6 foto6"
    "foto7 foto7 foto7"
    "foto8 foto8 foto8"
    "foto9 foto9 foto9";}
}
