.chiuni {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin: 10px;
        border: solid rgb(0, 0, 0);
        text-align: center;
        max-width: 100%;
        }
}

/*Formato para Facultad de Ciencias Jurídicas en Index*/

.ingindex {
    @include carreras-mixin
}

.medindex{
    @include carreras-mixin
    
}
.jurindex{
    @include carreras-mixin
} 
.titleca {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.carreras {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .carreras {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    }    

/*Incluyendo Mixin a los Científicos*/

.favaloro {
    @include cientifico-mixin
}
.rabinovich {
    @include cientifico-mixin
}
.gamarnik {
    @include cientifico-mixin
}

.milstein {
    @include cientifico-mixin
}
.noticias {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.grandes {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 10px;
}
.malvarg img{
    width: 200px;
    border-style: solid;
    border-color: black;
}

.notint {
    background-color: rgb(108, 105, 129);
    margin-left: 5px;
    margin-right: 5px;
    border: solid;
}

.anidada{
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: italic;

    ul{
    list-style: none;
    margin-left: 3px;
    }
}

.titnot {
    text-align: center;
    color: white;
    font-size: 2rem;
}