/*VARIABLES*/

@mixin cientifico-mixin {
    background-color: rgb(29, 22, 83);
    border: solid 3px black;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    

    img{
    width: 150px;
    display: block;
    margin: 0 auto;
    }

    h3 {
    text-align: center;
    color: white;
    }

    p{
    color: white;
    }
}

@mixin carreras-mixin {
    background-color: #a3a5c3;
    margin-top: 25px;
    margin-left: 20px;
    padding: 10px;
    width: 300px;
    border: solid 3px black;

    img {
    width: 290px;
    display: block;
    margin: 0 auto;
    }

    ul{
    margin-top: 15px; margin-bottom: 15px;
    }    
}